<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>News Summarizer</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <div class="container mb-4">    
      <h1 class="mb-4">News Articles</h1>
      <div class="card-text mb-2">This website scrapes news articles, and then uses BERT text summarizer to display summarized versions of the articles. You can view the original text of the article by selecting "read more". </br> Articles can be filtered by selecting keywords, or by selecting a 'positivity' rating range using the slider below(WIP)</div>            
    </div>

    <div class="container mb-4">
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
	<label class="btn btn-secondary active">
	  <input type="radio" name="options" id="option1" autocomplete="off" checked> Trump
	</label>
	<label class="btn btn-secondary">
	  <input type="radio" name="options" id="option2" autocomplete="off"> COVID 19
	</label>
	<label class="btn btn-secondary">
	  <input type="radio" name="options" id="option3" autocomplete="off"> Halloween
	</label>
      </div>
    </div>

    <div class="container mb-4">    
      <div class="card-text mb-2">Positivity rating slider</div>      
      <div class="slidecontainer d-inline">
	<input type="range" min="1" max="100" value="50" class="slider" id="myRange">
      </div>
    </div>
    
    <% articles.forEach(article => { %>
    <div class="card mt-4">
      <div class = "card-body">
	
	<h4 class="card-title"><%= article.title %></h4>
	<div class="card-subtitle text-muted mb-2"><%= article.createdAt.toLocaleDateString() %></div>
	<div class="card-text mb-2"><%= article.description %></div>
	<a href="articles/<%= article.id %>" class="btn btn-primary">Read more</a>
	<form action="/articles/<%= article.id %>?_method=DELETE" method="POST" class="d-inline">
	  <button type="submit" class="btn btn-danger">Delete</button>
	</form>      
	
      </div>
    </div>
    <% }) %>

  </div>
</body>
</html>
