<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>News Summarizer</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <div class="container mb-4">    
      <h1 class="mb-4">News Articles</h1>
      <div class="card-text mb-2">This website scrapes news articles, and then uses BERT text summarizer
	to display summarized versions of the articles, and the sentiment analysis! You can view the original
	text of the article by selecting "read more".
      </div>
      <div class="card-text mb-2">
	 </br> <a href="https://github.com/jzisheng/News-Summarizer">Learn more about
	  this project here!</a>
      </div>            
    </div>

    
    <% articles.forEach(article => { %>
    <div class="card mt-4">
      <div class = "card-body">
	<div class="card-body">
	  <h4 class="card-title"><%= article.title %></h4>
	  <div class="card-subtitle text-muted mb-2"><%= article.createdAt.toLocaleDateString() %></div>
	  <div class="card-text mb-2"><%= article.description %></div>
	</div>
	
	<div class="card-body">
	  <ul class="list-group list-group-flush">
	    <li class="list-group-item">Sentiment: <%= article.label %> </li>
	    <li class="list-group-item">Score: <%= article.score %></li>
	  </ul>
	</div>

	<div class="card-body">
	  <a href="articles/<%= article.id %>" class="btn btn-primary">Read more</a>
	  <form action="/articles/<%= article.id %>?_method=DELETE" method="POST" class="d-inline">
	    <button type="submit" class="btn btn-danger">Delete</button>
	  </form>
	</div>
	
	<div class="card-body">	
	  <footer class="blockquote-footer">News summary and analysis by BERT Transformer. Select 'Read More' for full text.</footer>
	</div>	
      </div>
    </div>
    <% }) %>

  </div>
</body>
</html>
